{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Task List</title>
</head>
<body>
  <div class="container">
    <h1>
      {% if user.is_staff %}
        All Tasks
      {% else %}
        My Tasks
      {% endif %}
    </h1>

      <ul>
        {% for task in tasks %}
          <li>
            <strong>{{ task.title }}</strong> <br>
            Status: {{ task.status }}<br>
            Due: {{ task.due_date }}<br>
            [<a href="{% url 'task-edit' task.pk %}">Edit</a>]
            [<a href="{% url 'task-delete' task.pk %}">Delete</a>]
          </li>
        {% empty %}
          <li>No tasks found.</li>
        {% endfor %}
      </ul>

<a href="{% url 'task-create' %}">Add a New Task</a>

  </div>
</body>
</html>
